<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.salah"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="android.support.v13"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/luncher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name=".Lunch"
            android:label="Salah"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.salah.MainActivity" />
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".LogActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.salah.LogActivity" />
        </activity>
        <activity
            android:name=".call_salah"
            android:label="@string/title_activity_call_salah"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.salah.MainActivity" />
        </activity>
    </application>

</manifest>
